LOAD DATASET

In [ ]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
stop.update(['.', ',', '"', "'", '?','|','!', ':', ';', '(', ')', '[', ']', '{', '}',''])
from nltk.stem import WordNetLemmatizer

In [ ]:
df = pd.read_csv('/content/Daylio_Abid.csv')
df

,full_date,date,weekday,time,sub_mood,activities,mood
0,16/04/2021,Apr-16,Friday,8:00 pm,yolo,reading | Art | prayer | fasting | walk | med...,Good
1,15/04/2021,Apr-15,Thursday,2:37 am,focused,reading | learning | Art | prayer | fasting ...,Good
2,14/04/2021,Apr-14,Wednesday,2:39 am,confused,reading | learning | prayer | fasting | Qura...,Normal
3,13/04/2021,Apr-13,Tuesday,2:38 am,wondering,reading | learning | Art | prayer | fasting ...,Normal
4,12/04/2021,Apr-12,Monday,9:52 pm,angry,reading | learning | fasting | walk | medita...,Awful
...,...,...,...,...,...,...,...
935,04/02/2018,Feb-04,Sunday,8:19 pm,yolo,Write dairy | walk | meditation | Audio book...,Good
936,04/02/2018,Feb-04,Sunday,11:23 am,meh,meditation | youtube | research,Normal
937,04/02/2018,Feb-04,Sunday,6:34 am,blessed,prayer | good meal | youtube | movies,Good
938,03/02/2018,Feb-03,Saturday,7:52 pm,angry,Write dairy | Dota 2 | streaming | shopping,Awful
939,03/02/2018,Feb-03,Saturday,3:12 pm,meh,walk | meditation | Dota 2 | Audio books | s...,Normal

MENGECEK INFORMASI PADA DATASET

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   full_date   940 non-null    object
 1   date        940 non-null    object
 2   weekday     940 non-null    object
 3   time        940 non-null    object
 4   sub_mood    940 non-null    object
 5   activities  893 non-null    object
 6   mood        940 non-null    object
dtypes: object(7)
memory usage: 51.5+ KB

CEK JUMLAH SUBMOOD & MOOD PADA DATASET

In [ ]:
df["sub_mood"].value_counts()

blessed           174
focused           111
yolo              100
excited            91
confused           64
wondering          64
hungry             53
Cool               37
over the moon      34
weak               31
Chill              30
worried            28
meh                27
good               19
triggered          18
angry              16
sad af             13
scared              9
sick                8
happiest day        5
awful               4
bad                 4
Name: sub_mood, dtype: int64

In [ ]:
df["mood"].value_counts()

Good       487
Normal     186
Amazing    167
Awful       51
Bad         49
Name: mood, dtype: int64

# **Exploratory Data Analysis**

CEK MISSING VALUE

In [ ]:
df.isnull().sum()

full_date      0
date           0
weekday        0
time           0
sub_mood       0
activities    47
mood           0
dtype: int64

Menangani missing value

In [ ]:
#drop baris 'activities' dengan nilai null 
new_df = df.dropna(axis = 0, how ='any')

#cek ukuran data untuk memastikan baris sudah di drop
new_df.shape

(893, 7)

In [ ]:
#drop kolom full date, date, time
new_df = df.drop(['full_date', 'date', 'time', 'weekday'], axis=1)
new_df

      sub_mood                                         activities    mood
0         yolo  reading | Art | prayer | fasting  | walk | med...    Good
1     focused   reading | learning  | Art | prayer | fasting  ...    Good
2    confused   reading | learning  | prayer | fasting  | Qura...  Normal
3    wondering  reading | learning  | Art | prayer | fasting  ...  Normal
4        angry  reading | learning  | fasting  | walk | medita...   Awful
..         ...                                                ...     ...
935       yolo  Write dairy  | walk | meditation  | Audio book...    Good
936        meh                  meditation  | youtube | research   Normal
937   blessed               prayer | good meal | youtube | movies    Good
938      angry      Write dairy  | Dota 2 | streaming  | shopping   Awful
939        meh  walk | meditation  | Dota 2 | Audio books  | s...  Normal

[940 rows x 3 columns]

In [ ]:
def search_activities(sub_mood):
    lemmatizer = WordNetLemmatizer()
    activitiescount = {}
    for i in range(939):
      sub_temp = (new_df["sub_mood"][i])
      if sub_mood in sub_temp:
          activitiestemp = [lemmatizer.lemmatize(temps.strip().replace('.','').replace(',','').lower()) for temps in str(new_df["activities"][i]).split('|') if temps.strip() not in stop ]
          for a in activitiestemp:
              if a not in activitiescount.keys():
                  activitiescount[a] = 1 
              else:
                  activitiescount[a] += 1
    sorted_activities = []
    sorted_activities = sorted(activitiescount, key=activitiescount.get, reverse=True)
    return sorted_activities


def activities_recommendation(sub_mood):
    topn = []
    topn = search_activities(sub_mood) #function create dictionary only for particular mood
    print("5 Recommendation Activities in %s are:"%(sub_mood))
    print(topn[0])
    print(topn[1])
    print(topn[2])
    print(topn[3])
    print(topn[4])

In [ ]:
activities_recommendation('angry')

5 Recommendation Activities in angry are:
youtube
streaming
good meal
reddit
audio books